.search-box{
    padding: 30px;
    text-align: center;

}
.search-input{
    padding: 10px 15px;
}
#search-btn{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
#loadData{
    padding: 5px 10px;
    background-color: rgba(6, 113, 184, 0.806);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.box{
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    margin: 5px;
}
.meals-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img-box{
    width: 280px;
    height: 170px;
}
.details-btn{
    background-color: rgb(19, 115, 225);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}